# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# Environments
.env
.env.*
!.env.example
.envrc
.venv
venv/
env/

# Editor
.vscode/
.idea/

# Test / Coverage
.pytest_cache/
.tox/
.coverage
htmlcov/

# Ruff cache
.ruff_cache/

# Docker
*.tgz

# Misc
.DS_Store
.pypirc
